In [2]:
import pandas as pd 
import numpy as np

In [4]:
diatoms_all = pd.read_excel('/home/anna/Desktop/Stream Ecology/Ecel Sheets/All Taxa.xls', index_col = None)
diatoms_all
diatoms_unique = diatoms_all.drop_duplicates()
# diatoms_unique = diatoms_unique.T
# diatoms_unique = diatoms_unique
diatoms_unique

                                    Taxa
0                       Luticola mutica
1                      Luticola gaussii
2    Humidophila arcuata var. parallela
3                        Luticola laeta
4                  Luticola mcknightiae
5                       Muelleria supra
6                Luticola permuticopsis
7                   Humidophila arcuata
8                Muelleria peraustralis
9               Craticula molestiformis
10              Mayamaea atomus var. #1
11            Chamaepinnularia deltaica
14              Fistulifera pelliculosa
21                Humidophila australis
30                     Luticola murrayi
33             Luticola austroatlantica
34                       Luticola dolia
83         Craspedostauros laevissiumus
94                      Luticola sp. #2
124                   Luticola spainiae
149                 Luticola muticopsis
154              Muelleria cryoconicola
188                Hantzschia amphioxys

In [5]:
co2 = pd.read_excel('/home/anna/Desktop/Stream Ecology/Ecel Sheets/co2oh.xls')
co2.columns
co2 = co2.rename(columns={'Taxon Name ':'Taxa'})
co2 = co2.drop(columns=['Count ', 'Valves/mg', 'Count ID'])
co2

                                   Taxa      % SampleID
0                      Luticola mutica    1.66   coh002
1                     Luticola gaussii   11.59   coh002
2   Humidophila arcuata var. parallela   63.25   coh002
3                       Luticola laeta    6.62   coh002
4                 Luticola mcknightiae    2.65   coh002
5                      Muelleria supra    4.97   coh002
6               Luticola permuticopsis    0.99   coh002
7                  Humidophila arcuata    3.97   coh002
8               Muelleria peraustralis    2.98   coh002
9              Craticula molestiformis    0.33   coh002
10             Mayamaea atomus var. #1    0.33   coh002
11           Chamaepinnularia deltaica    0.66   coh002

In [10]:
merged = pd.merge(diatoms_unique, co2, on = 'Taxa', how = 'outer')
merged

                                   Taxa      % SampleID
0                      Luticola mutica    1.66   coh002
1                     Luticola gaussii   11.59   coh002
2   Humidophila arcuata var. parallela   63.25   coh002
3                       Luticola laeta    6.62   coh002
4                 Luticola mcknightiae    2.65   coh002
5                      Muelleria supra    4.97   coh002
6               Luticola permuticopsis    0.99   coh002
7                  Humidophila arcuata    3.97   coh002
8               Muelleria peraustralis    2.98   coh002
9              Craticula molestiformis    0.33   coh002
10             Mayamaea atomus var. #1    0.33   coh002
11           Chamaepinnularia deltaica    0.66   coh002
12             Fistulifera pelliculosa     NaN      NaN
13               Humidophila australis     NaN      NaN
14                    Luticola murrayi     NaN      NaN
15            Luticola austroatlantica     NaN      NaN
16                      Luticola dolia     NaN      NaN
17        Craspedostauros laevissiumus     NaN      NaN
18                     Luticola sp. #2     NaN      NaN
19                   Luticola spainiae     NaN      NaN
20                 Luticola muticopsis     NaN      NaN
21              Muelleria cryoconicola     NaN      NaN
22                Hantzschia amphioxys     NaN      NaN