In [1]:
import pandas as pd 
import numpy as np

In [69]:
diatoms_all = pd.read_excel('/home/anna/Desktop/Stream Ecology/Ecel Sheets/All Taxa.xls', index_col = None)
diatoms_all
diatoms_unique = diatoms_all.drop_duplicates()
# diatoms_unique = diatoms_unique.T
# diatoms_unique = diatoms_unique
diatoms_unique

                                    Taxa
0                       Luticola mutica
1                      Luticola gaussii
2    Humidophila arcuata var. parallela
3                        Luticola laeta
4                  Luticola mcknightiae
5                       Muelleria supra
6                Luticola permuticopsis
7                   Humidophila arcuata
8                Muelleria peraustralis
9               Craticula molestiformis
10              Mayamaea atomus var. #1
11            Chamaepinnularia deltaica
14              Fistulifera pelliculosa
21                Humidophila australis
30                     Luticola murrayi
33             Luticola austroatlantica
34                       Luticola dolia
83         Craspedostauros laevissiumus
94                      Luticola sp. #2
124                   Luticola spainiae
149                 Luticola muticopsis
154              Muelleria cryoconicola
188                Hantzschia amphioxys

In [87]:
co2 = pd.read_excel('/home/anna/Desktop/Stream Ecology/Ecel Sheets/co2oh.xls')
co2.columns
co2 = co2.rename(columns={'Taxon Name ':'Taxa'})
co2 = co2.drop(columns=['Count ', 'Valves/mg', 'Count ID'])
co2.T

,0,1,2,3,4,5,6,7,8,9,10,11
Taxa,Luticola mutica,Luticola gaussii,Humidophila arcuata var. parallela,Luticola laeta,Luticola mcknightiae,Muelleria supra,Luticola permuticopsis,Humidophila arcuata,Muelleria peraustralis,Craticula molestiformis,Mayamaea atomus var. #1,Chamaepinnularia deltaica
%,1.66,11.59,63.25,6.62,2.65,4.97,0.99,3.97,2.98,0.33,0.33,0.66
SampleID,coh002,coh002,coh002,coh002,coh002,coh002,coh002,coh002,coh002,coh002,coh002,coh002

In [83]:
merged = pd.merge(diatoms_unique, co2, on = 'Taxa', how = 'outer')

merged

,Taxa,Count,%,Valves/mg,Count ID,SampleID
0,Luticola mutica,5.0,1.66,NaN,19761.0,coh002
1,Luticola gaussii,35.0,11.59,NaN,19762.0,coh002
2,Humidophila arcuata var. parallela,191.0,63.25,NaN,19763.0,coh002
3,Luticola laeta,20.0,6.62,NaN,19764.0,coh002
4,Luticola mcknightiae,8.0,2.65,NaN,19765.0,coh002
5,Muelleria supra,15.0,4.97,NaN,19766.0,coh002
6,Luticola permuticopsis,3.0,0.99,NaN,19767.0,coh002
7,Humidophila arcuata,12.0,3.97,NaN,19768.0,coh002
8,Muelleria peraustralis,9.0,2.98,NaN,19769.0,coh002
9,Craticula molestiformis,1.0,0.33,NaN,19770.0,coh002
10,Mayamaea atomus var. #1,1.0,0.33,NaN,19771.0,coh002
11,Chamaepinnularia deltaica,2.0,0.66,NaN,19772.0,coh002
12,Fistulifera pelliculosa,NaN,NaN,NaN,NaN,NaN
13,Humidophila australis,NaN,NaN,NaN,NaN,NaN
14,Luticola murrayi,NaN,NaN,NaN,NaN,NaN
15,Luticola austroatlantica,NaN,NaN,NaN,NaN,NaN
16,Luticola dolia,NaN,NaN,NaN,NaN,NaN
17,Craspedostauros laevissiumus,NaN,NaN,NaN,NaN,NaN
18,Luticola sp. #2,NaN,NaN,NaN,NaN,NaN
19,Luticola spainiae,NaN,NaN,NaN,NaN,NaN
20,Luticola muticopsis,NaN,NaN,NaN,NaN,NaN
21,Muelleria cryoconicola,NaN,NaN,NaN,NaN,NaN
22,Hantzschia amphioxys,NaN,NaN,NaN,NaN,NaN